# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
coverage.xml
.ruff_cache


# Home Assistant configuration
config/*
!config/configuration.yaml


# Credentials
custom_components/pulson_alarm/default_log.json