#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* potrzebne tylko do siatki kart */
.lines-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: max-content;
  margin: 32px auto;
}
